header {
    font-size: x-large;
    font-weight: bolder;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
} 
.customer {
    margin: 1rem;
}  
    
.name {
    font-size: larger;
    font-weight: bold;
    text-transform: capitalize;
    padding-bottom: 0.25rem;
}

.email {
    font-size: smaller;
    color: gray;
    padding-bottom: 0.25rem;
}

.pic {
    height: 5rem;
    width: 5rem;
    border-radius:  39% 61% 37% 63% / 41% 63% 37% 59%;

}

.state {
    padding-bottom: 0.25rem;
}